<section>
    <div class="container-footer">
        <div class="infos">
            <h3>Nome da Empresa</h3>
        </div>
        <div class="infos-contato">
            <p>Atendimento 24 horas por dia</p>
            <p>Telefone: 1111111111</p>
            <p>Celular: 1111111111</p>
        </div>
        <div class="infos">
            <p>© 2024 Fotos e Fotos. Todos os direitos reservados. Fotos e Fotos é uma marca registrada de propriedade de Lucas de Lima Bezerra Brito.</p>
        </div>
    </div>
</section>