<section>
    <h1>Contrate um fotografo profissional</h1>
    <div class="grid-passo">
        <div class="passos">
            <h2>Passo a Passo</h2>
            <h4>Para contratar o fotografo(a) é bem simples, basta seguir os seguintes passos.</h4>
        </div>
        <div class="options">
            <h3>1) Escolher o Fotógrafo</h3>
            <p>Navegue pela nossa seleção de talentosos fotógrafos e escolha aquele que melhor se adapta ao estilo e às necessidades do seu evento.
            Explore seus portfólios e avaliações para tomar uma decisão informada.</p>
        </div>
        <div class="options">
            <h3>2) Escolher Data e Local do Evento</h3>
            <p>Determine a data e o local do seu evento e verifique a disponibilidade do fotógrafo escolhido.
                Certifique-se de comunicar claramente todos os detalhes relevantes para garantir uma cobertura perfeita.</p>
        </div>
        <div class="options">
            <h3>3) Realizar o Pagamento</h3>
            <p>Finalize sua reserva fazendo o pagamento através do nosso sistema seguro. 
            Assim que o pagamento for confirmado, seu fotógrafo estará oficialmente reservado para o seu evento.</p>
        </div>
        <span class="disclaimer">*Caso haja alguma dúvida ou precisar de assistência adicional, nossa equipe está sempre à disposição para ajudar.
        </span>
    </div>
</section>
