<section>
    <div class="box-cards">
        <swiper-container loop="true" navigation="true" slides-per-view="3">
            <swiper-slide>
                <div class="cards-info">
                    <img src="/assets/images/picture.png" alt="Img1">
                    <p>Registre os momentos mais preciosos da sua vida com nossos talentosos fotógrafos especializados. Do glamour das festas
                    de aniversário ao romance dos casamentos, capturamos cada emoção para você guardar para sempre. Confie em nós para transformar seus eventos em memórias eternas.</p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="cards-info">
                    <img src="/assets/images/picture.png" alt="Img1">
                    <p>Deixe-nos contar a sua história através das lentes habilidosas de nossos fotógrafos profissionais. Dos sorrisos radiantes às lágrimas de alegria, cada momento 
                    é capturado com maestria. Celebre a vida e eternize seus momentos mais especiais conosco.</p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="cards-info">
                    <img src="/assets/images/picture.png" alt="Img1">
                    <p>Do suspiro dos casais apaixonados ao riso contagiante das festas, nossos fotógrafos capturam a verdadeira essência de cada momento.
                    Deixe-nos transformar seus eventos em histórias visuais que perduram para sempre. Confie em nós para eternizar seus momentos mais especiais</p>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="cards-info">
                    <img src="/assets/images/picture.png" alt="Img1">
                    <p>Do suspiro dos casais apaixonados ao riso contagiante das festas, nossos fotógrafos capturam a verdadeira essência de cada momento.
                    Deixe-nos transformar seus eventos em histórias visuais que perduram para sempre. Confie em nós para eternizar seus momentos mais especiais</p>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>

</section>